VITE_SUPABASE_URL=https://bauvdyyrtobyxhamjiwk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhdXZkeXlydG9ieXhoYW1qaXdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMTkwNzQsImV4cCI6MjA5Mjg5NTA3NH0.mmChhhQ2VJGOuRkNftNmEgUvlj2AxDha4zhczKh_nhI
